In [1]:
import tushare as ts
import plotly.graph_objects as go
import plotly.io as pio
import plotly.express as px
import pandas as pd
import numpy as np
import baostock as bao
from baostock.data.resultset import ResultData
import baostock.common.contants as bao_consts
from pandas import Timestamp
from sz.stock_data.toolbox.data_provider import ts_code
from datetime import date, datetime, timedelta

ts.set_token('f96b1eeee9c8fddd357f2299cdedc1c88b2bb2a30ae1f772cf810dea')
ts_api = ts.pro_api()

blg = bao.login()
print('baostock login => error_code: %s error_msg: %s\n' %
      (blg.error_code, blg.error_msg))

from sz.stock_data.stock_data import StockData
StockData().setup(data_dir = '/Volumes/USBDATA/stock_data')

login success!
baostock login => error_code: 0 error_msg: success

/Users/kk/miniconda3/envs/quant/lib/python3.7/site-packages/tushare/util/upass.py:28: FutureWarning:


.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

In [2]:
df = StockData().trade_calendar.dataframe
df_trade = df[df['is_open'] == True]

In [3]:
df_trade.head(10)

             cal_date  is_open pretrade_date
cal_date
2000-01-04 2000-01-04     True    1999-12-30
2000-01-05 2000-01-05     True    2000-01-04
2000-01-06 2000-01-06     True    2000-01-05
2000-01-07 2000-01-07     True    2000-01-06
2000-01-10 2000-01-10     True    2000-01-07
2000-01-11 2000-01-11     True    2000-01-10
2000-01-12 2000-01-12     True    2000-01-11
2000-01-13 2000-01-13     True    2000-01-12
2000-01-14 2000-01-14     True    2000-01-13
2000-01-17 2000-01-17     True    2000-01-14

In [5]:
StockData().trade_calendar.next_n_trade_day(datetime.strptime('2019-12-30', '%Y-%m-%d').date(), 5, date.today())

datetime.date(2019, 9, 20)

In [18]:
df_5min = bao.query_history_k_data_plus(
    code = "sh.600000",
    fields = "date,time,code,open,high,low,close,volume,amount,adjustflag",
    start_date='2019-09-19', 
    end_date='2019-09-20',
    frequency="5", 
    adjustflag="3"
).get_data()

df_5min.head(5)

,date,time,code,open,high,low,close,volume,amount,adjustflag
0,2019-09-19,20190919093500000,sh.600000,12.0000,12.0000,11.9600,11.9700,1362500,16329865.0000,3
1,2019-09-19,20190919094000000,sh.600000,11.9700,11.9800,11.9400,11.9800,869273,10401526.0000,3
2,2019-09-19,20190919094500000,sh.600000,11.9800,11.9900,11.9500,11.9600,426343,5103490.0000,3
3,2019-09-19,20190919095000000,sh.600000,11.9600,11.9700,11.9300,11.9400,456457,5454719.0000,3
4,2019-09-19,20190919095500000,sh.600000,11.9300,11.9600,11.9200,11.9500,487715,5820830.0000,3

In [12]:
df_5min.dtypes

date          object
time          object
code          object
open          object
high          object
low           object
close         object
volume        object
amount        object
adjustflag    object
dtype: object

In [19]:
df_5min['date'] = pd.to_datetime(df_5min['date'], format = '%Y-%m-%d')
df_5min['time'] = df_5min['time'].apply(lambda x: pd.to_datetime(x[:-3], format = '%Y%m%d%H%M%S'))
df_5min['open'] = df_5min['open'].astype(np.float64)
df_5min['high'] = df_5min['high'].astype(np.float64)
df_5min['low'] = df_5min['low'].astype(np.float64)
df_5min['close'] = df_5min['close'].astype(np.float64)

df_5min['volume'] = df_5min['volume'].astype(np.float64)
df_5min['amount'] = df_5min['amount'].astype(np.float64)
df_5min['code'] = df_5min['code'].apply(lambda x: ts_code(x))

df_5min.head(5)

,date,time,code,open,high,low,close,volume,amount,adjustflag
0,2019-09-19,2019-09-19 09:35:00,600000.SH,12.00,12.00,11.96,11.97,1362500.0,16329865.0,3
1,2019-09-19,2019-09-19 09:40:00,600000.SH,11.97,11.98,11.94,11.98,869273.0,10401526.0,3
2,2019-09-19,2019-09-19 09:45:00,600000.SH,11.98,11.99,11.95,11.96,426343.0,5103490.0,3
3,2019-09-19,2019-09-19 09:50:00,600000.SH,11.96,11.97,11.93,11.94,456457.0,5454719.0,3
4,2019-09-19,2019-09-19 09:55:00,600000.SH,11.93,11.96,11.92,11.95,487715.0,5820830.0,3

In [20]:
df_5min.dtypes

date          datetime64[ns]
time          datetime64[ns]
code                  object
open                 float64
high                 float64
low                  float64
close                float64
volume               float64
amount               float64
adjustflag            object
dtype: object

In [28]:
df_moneyflow = ts_api.moneyflow(
    ts_code = '300059.SZ',
    start_date = '20190919',
    end_date = '20190920'
)

In [34]:
df_moneyflow.dtypes

ts_code             object
trade_date          object
buy_sm_vol           int64
buy_sm_amount      float64
sell_sm_vol          int64
sell_sm_amount     float64
buy_md_vol           int64
buy_md_amount      float64
sell_md_vol          int64
sell_md_amount     float64
buy_lg_vol           int64
buy_lg_amount      float64
sell_lg_vol          int64
sell_lg_amount     float64
buy_elg_vol          int64
buy_elg_amount     float64
sell_elg_vol         int64
sell_elg_amount    float64
net_mf_vol           int64
net_mf_amount      float64
dtype: object

In [32]:
df_adj = ts_api.adj_factor(
    ts_code = '300059.SZ',
    start_date = '20190919',
    end_date = '20190919'
)

df_adj

     ts_code trade_date  adj_factor
0  300059.SZ   20190919      38.659

In [33]:
df_adj.dtypes

ts_code        object
trade_date     object
adj_factor    float64
dtype: object

In [43]:
ts_api.top10_holders(
    ts_code = '002001.SZ',
    start_date = '20180101',
    end_date = '20191231'
)

,ts_code,ann_date,end_date,holder_name,hold_amount,hold_ratio
0,002001.SZ,20190823,20190630,中意资管-招商银行-中意资产-招商银行-定增精选43号资产管理产品,1.487502e+07,0.69
1,002001.SZ,20190823,20190630,新和成控股集团有限公司,1.043253e+09,48.55
2,002001.SZ,20190823,20190630,上海重阳战略投资有限公司-重阳战略汇智基金,3.857972e+07,1.80
3,002001.SZ,20190823,20190630,全国社保基金五零三组合,3.000000e+07,1.40
4,002001.SZ,20190823,20190630,华安未来资产-工商银行-杭州丰信投资合伙企业(有限合伙),2.891000e+07,1.35
5,002001.SZ,20190823,20190630,华安未来资产-工商银行-杭州锐智投资合伙企业(有限合伙),2.607571e+07,1.21
6,002001.SZ,20190823,20190630,全国社保基金一一四组合,1.997218e+07,0.93
7,002001.SZ,20190823,20190630,全国社保基金一零四组合,1.650000e+07,0.77
8,002001.SZ,20190823,20190630,招商银行股份有限公司-睿远成长价值混合型证券投资基金,1.640000e+07,0.76
9,002001.SZ,20190823,20190630,三花控股集团有限公司,1.624096e+07,0.76
10,002001.SZ,20190429,20190331,银河资本-浙商银行-银河资本-鑫鑫一号资产管理计划,2.975000e+07,1.38
11,002001.SZ,20190429,20190331,中意资管-招商银行-中意资产-招商银行-定增精选43号资产管理产品,2.975000e+07,1.38
12,002001.SZ,20190429,20190331,全国社保基金五零三组合,2.949978e+07,1.37
13,002001.SZ,20190429,20190331,华安未来资产-工商银行-杭州丰信投资合伙企业(有限合伙),2.891000e+07,1.35
14,002001.SZ,20190429,20190331,华安未来资产-工商银行-杭州锐智投资合伙企业(有限合伙),2.607571e+07,1.21
15,002001.SZ,20190429,20190331,三花控股集团有限公司,2.569755e+07,1.20
16,002001.SZ,20190429,20190331,全国社保基金一零四组合,2.500000e+07,1.16
17,002001.SZ,20190429,20190331,全国社保基金一一四组合,2.401913e+07,1.12
18,002001.SZ,20190429,20190331,上海重阳战略投资有限公司-重阳战略汇智基金,3.857972e+07,1.80
19,002001.SZ,20190429,20190331,新和成控股集团有限公司,1.043253e+09,48.55
20,002001.SZ,20190429,20181231,中意资管-招商银行-中意资产-招商银行-定增精选43号资产管理产品,2.975000e+07,1.38
21,002001.SZ,20190429,20181231,银河资本-浙商银行-银河资本-鑫鑫一号资产管理计划,2.975000e+07,1.38
22,002001.SZ,20190429,20181231,三花控股集团有限公司,2.975000e+07,1.38
23,002001.SZ,20190429,20181231,新和成控股集团有限公司,1.043253e+09,48.55
24,002001.SZ,20190429,20181231,上海重阳战略投资有限公司-重阳战略汇智基金,3.727973e+07,1.74
25,002001.SZ,20190429,20181231,华安未来资产-工商银行-杭州丰信投资合伙企业(有限合伙),2.975000e+07,1.38
26,002001.SZ,20190429,20181231,华安未来资产-工商银行-杭州锐智投资合伙企业(有限合伙),2.683571e+07,1.25
27,002001.SZ,20190429,20181231,全国社保基金一零四组合,2.598270e+07,1.21
28,002001.SZ,20190429,20181231,全国社保基金五零三组合,2.449988e+07,1.14
29,002001.SZ,20190429,20181231,全国社保基金一一四组合,2.053110e+07,0.96
30,002001.SZ,20181022,20180930,全国社保基金一一四组合,2.076820e+07,0.97
31,002001.SZ,20181022,20180930,新和成控股集团有限公司,1.043253e+09,48.55
32,002001.SZ,20181022,20180930,上海重阳战略投资有限公司-重阳战略汇智基金,3.642857e+07,1.70
33,002001.SZ,20181022,20180930,三花控股集团有限公司,2.975000e+07,1.38
34,002001.SZ,20181022,20180930,银河资本-浙商银行-银河资本-鑫鑫一号资产管理计划,2.975000e+07,1.38
35,002001.SZ,20181022,20180930,中意资管-招商银行-中意资产-招商银行-定增精选43号资产管理产品,2.975000e+07,1.38
36,002001.SZ,20181022,20180930,华安未来资产-工商银行-杭州丰信投资合伙企业(有限合伙),2.975000e+07,1.38
37,002001.SZ,20181022,20180930,全国社保基金一零四组合,2.798270e+07,1.30
38,002001.SZ,20181022,20180930,华安未来资产-工商银行-杭州锐智投资合伙企业(有限合伙),2.683571e+07,1.25
39,002001.SZ,20181022,20180930,全国社保基金五零三组合,2.099980e+07,0.98
40,002001.SZ,20180823,20180630,上海重阳战略投资有限公司-重阳战略汇智基金,3.642857e+07,1.70
41,002001.SZ,20180823,20180630,新和成控股集团有限公司,1.043253e+09,48.55
42,002001.SZ,20180823,20180630,三花控股集团有限公司,2.975000e+07,1.38
43,002001.SZ,20180823,20180630,银河资本-浙商银行-银河资本-鑫鑫一号资产管理计划,2.975000e+07,1.38
44,002001.SZ,20180823,20180630,中意资管-招商银行-中意资产-招商银行-定增精选43号资产管理产品,2.975000e+07,1.38
45,002001.SZ,20180823,20180630,华安未来资产-工商银行-杭州丰信投资合伙企业(有限合伙),2.975000e+07,1.38
46,002001.SZ,20180823,20180630,全国社保基金一零四组合,2.888270e+07,1.34
47,002001.SZ,20180823,20180630,华安未来资产-工商银行-杭州锐智投资合伙企业(有限合伙),2.683571e+07,1.25
48,002001.SZ,20180823,20180630,全国社保基金一一三组合,2.321923e+07,1.08
49,002001.SZ,20180823,20180630,全国社保基金一一四组合,2.040000e+07,0.95
50,002001.SZ,20180428,20180331,新和成控股集团有限公司,6.136783e+08,48.55
51,002001.SZ,20180428,20180331,上海重阳战略投资有限公司-重阳战略汇智基金,2.142857e+07,1.70
52,002001.SZ,20180428,20180331,三花控股集团有限公司,1.750000e+07,1.38
53,002001.SZ,20180428,20180331,银河资本-浙商银行-银河资本-鑫鑫一号资产管理计划,1.750000e+07,1.38
54,002001.SZ,20180428,20180331,中意资管-招商银行-中意资产-招商银行-定增精选43号资产管理产品,1.750000e+07,1.38
55,002001.SZ,20180428,20180331,华安未来资产-工商银行-杭州丰信投资合伙企业(有限合伙),1.750000e+07,1.38
56,002001.SZ,20180428,20180331,全国社保基金一零四组合,1.738983e+07,1.38
57,002001.SZ,20180428,20180331,华安未来资产-工商银行-杭州锐智投资合伙企业(有限合伙),1.578571e+07,1.25
58,002001.SZ,20180428,20180331,全国社保基金一一三组合,1.365837e+07,1.08
59,002001.SZ,20180428,20180331,汇添富基金-中国银行-浙江新和成股份有限公司,1.269449e+07,1.00