In [1]:
import tushare as ts
import plotly.graph_objects as go
import plotly.io as pio
import plotly.express as px
import pandas as pd
import numpy as np
import baostock as bao
from baostock.data.resultset import ResultData
import baostock.common.contants as bao_consts
from pandas import Timestamp
from sz.stock_data.toolbox.data_provider import ts_code

ts.set_token('f96b1eeee9c8fddd357f2299cdedc1c88b2bb2a30ae1f772cf810dea')
ts_api = ts.pro_api()

blg = bao.login()
print('baostock login => error_code: %s error_msg: %s\n' %
      (blg.error_code, blg.error_msg))

from sz.stock_data.stock_data import StockData
StockData().setup(data_dir = '/Volumes/USBDATA/stock_data')

/Users/kk/miniconda3/envs/quant/lib/python3.7/site-packages/tushare/util/upass.py:28: FutureWarning:


.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

login success!
baostock login => error_code: 0 error_msg: success

In [9]:
df = ts_api.daily(ts_code='002001.sz', start_date='20190918', end_date='20190919')

In [10]:
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,002001.SZ,20190919,22.44,22.46,21.78,22.08,22.39,-0.31,-1.3845,242031.58,532025.851
1,002001.SZ,20190918,22.05,22.49,21.95,22.39,22.06,0.33,1.4959,149288.75,333014.742

In [27]:
df_bao = bao.query_history_k_data_plus(
    code = '300122.SZ',
    start_date = '2019-09-18',
    end_date = '2019-09-19',
    frequency = 'd',
    fields = 'date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,peTTM,psTTM,pcfNcfTTM,pbMRQ,isST'
)

df_bao.get_data()

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,peTTM,psTTM,pcfNcfTTM,pbMRQ,isST
0,2019-09-18,sz.300122,50.7800,51.7000,50.5000,51.0000,50.9000,4902722,250682381.4100,3,0.559800,1,0.196500,42.589663,9.957158,-3019.035875,18.021724,0
1,2019-09-19,sz.300122,51.4000,52.3300,50.5100,52.1500,51.0000,8550611,442475167.0600,3,0.976400,1,2.254900,43.550018,10.181682,-3087.112174,18.428096,0

In [17]:
df = bao.query_hs300_stocks().get_data()
df

     updateDate       code code_name
0    2019-09-16  sh.600000      浦发银行
1    2019-09-16  sh.600004      白云机场
2    2019-09-16  sh.600009      上海机场
3    2019-09-16  sh.600010      包钢股份
4    2019-09-16  sh.600011      华能国际
..          ...        ...       ...
295  2019-09-16  sz.300296       利亚德
296  2019-09-16  sz.300408      三环集团
297  2019-09-16  sz.300413      芒果超媒
298  2019-09-16  sz.300433      蓝思科技
299  2019-09-16  sz.300498      温氏股份

[300 rows x 3 columns]

In [21]:
df['code'].apply(lambda x: ts_code(x))

0      600000.SH
1      600004.SH
2      600009.SH
3      600010.SH
4      600011.SH
         ...
295    300296.SZ
296    300408.SZ
297    300413.SZ
298    300433.SZ
299    300498.SZ
Name: code, Length: 300, dtype: object

In [33]:
from datetime import date, datetime, timedelta

In [34]:
today = date.today()
str(today)

'2019-09-20'

In [30]:
df = StockData().trade_calendar.dataframe
df

             cal_date  is_open pretrade_date
cal_date
2000-01-01 2000-01-01    False    1999-12-30
2000-01-02 2000-01-02    False    1999-12-30
2000-01-03 2000-01-03    False    1999-12-30
2000-01-04 2000-01-04     True    1999-12-30
2000-01-05 2000-01-05     True    2000-01-04
...               ...      ...           ...
2019-12-27 2019-12-27     True    2019-12-26
2019-12-28 2019-12-28    False    2019-12-27
2019-12-29 2019-12-29    False    2019-12-27
2019-12-30 2019-12-30     True    2019-12-27
2019-12-31 2019-12-31     True    2019-12-30

[7305 rows x 3 columns]

In [40]:
df.iloc[-1].loc['cal_date']

a = date.today()
b = a + timedelta(days = -1)

min(b, a)

datetime.date(2019, 9, 19)